/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}



/*fine regole generali */

header{
  background-color: rgb(17, 5, 92);
  background-image: url(../img/background-header.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 105% 105%;
}


.container{
  width: 100%;
  height: 1000px;
  background-color: white;
  margin: auto;
}

.header-contain{
  height: 600px;
  width: 80%;
  /* background-color: blue; */
  margin: auto;

}

.header-top{
  height: 100px;
  width: 90%;
  background-color: black;
  margin: auto;
}

.logo-header{
  height: 100px;
  width: 10%;
  padding: 20px;
  background-color: yellow;
}

.nav-left{
  height: 100%;
  width: 50%;
  background-color: violet;
  padding: 20px;
}

.nav-left li {
  display: inline-block;
  /* padding: 20px; */

}

.nav-left li a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;

}

.nav-right{
  height: 100%;
  width: 40%;
  background-color: red;
}

.nav-right li {
  display: inline-block;
  padding: 20px;

}

.nav-right li a{
  color: white;
  margin: 10px;
  text-decoration: none;
  text-transform: uppercase;
}





/* fine header top */
/* inizio header bottom */
.header-bottom{

}
.jumbotron {
  height: 500px;
  width: 1215px;
  margin: auto;
  position: relative;
}

.jumbotron h1{
  position: absolute;
  top: 50%;
  bottom: 50%;
}



/* end */
